/*  Color Pallete
    #00b76c green 
    #2f4858 dark blue
    #ffeccc cream
    #3f7856 teal  
    #e39d22 gold*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eefdf1;
}

.overlay {
    height: 12vh;
    width: 100vw;;
    background-color: #27ae60;
}

.mainMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    cursor: pointer;
    margin-top: 1.5vh;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.75vw;
    padding: 2vh 2vw;
}

#accts { color: #1c502f; }
#invest { color: #eefdf1; }

.title { 
    position: fixed;
    top: 2vh;
    left: 83vw;
    height: 7vh;
}

.test {
    font-family: "Lato";
    font-weight: bold;
    color: #2f4858;
    font-size: 2vw;
}

.acctListing {
    grid-template-columns: 55% 45%;
    justify-content: center;
}

#acctPage {
    display: grid;
}

.historyScroll {
    margin-left: 3vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}

.titles {
    display: grid;
    grid-template-columns: 25% 25% 30% 15% 5%;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 3vw;
}

.history {
    display: grid;
    grid-template-columns: 25% 25% 30% 15% 5%;
    justify-content: center;
}

.subHist { border-bottom: 0.5vh solid#00b76c; }

.content {
    margin-top: 1vh;
    font-family: "Lato";
    font-size: 2vh;
    color: #3f7856;
}

.contentHeadL { 
    font-weight: bold;
    text-align: left;
}

.contentHeadR { 
    font-weight: bold;
    text-align: right;
}

.contentHeadC { 
    font-weight: bold;
    text-align: center;
}

.contentMouseHover { cursor: pointer; }

.topHead { border-bottom: 0.5vh solid#00b76c; }

.hidden {
    opacity: 0;
}

.profileLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: 3vh;
    height: 80vh;
    width: 40vw;
    background-color: #27ae60;
}

.createSection {
    display: grid;
    grid-template-columns: 35% 65%;
}

.createSection p {
    margin: 2vh;
    font-family: "Lato";
    font-weight: bold;
    font-size: 2.5vh;
    color: #eefdf1;
    text-align: center;
}

.createAcct {
    cursor: pointer;
    margin: 2vh;
    font-family: "Lato";
    font-weight: bold;
    font-size: 2.5vh;
    color: #eefdf1;
    transition: 0.3s ease;
}

.createAcct:hover { color:#1c502f; }

.line { 
    color: white;
    border: 0.5vh solid white;
}

.darkLayer {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(4,4,4,0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalBody {
    position: relative;
    height: 70vh;
    width: 70vw;
    background-color: white;
    border-radius: 2.5vh; 
}