/*  Color Pallete
    #00b76c green 
    #2f4858 dark blue
    #ffeccc cream
    #3f7856 teal  
    #e39d22 gold*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.overlay {
    height: 12vh;
    width: 100vw;;
    background-color: #229348;
}

.mainMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    margin-top: 1.5vh;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffeccc;
    font-size: 1.75vw;
    padding: 2vh 2vw;
}

#accts {  }
#invest { color: #ffeccc; }

.title { 
    position: fixed;
    top: 2vh;
    left: 85vw;
    height: 7vh;
}

.test {
    font-family: "Lato";
    font-weight: bold;
    color: #2f4858;
    font-size: 2vw;
}