<!--
* {
	margin: 0;
	padding: 0;
}

body {
	background: fixed;
	background-image: url("pigAssets/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: contain; 
	height: 100%;
	width: 100%;
	z-index: -3; 
	overflow: hidden;
}

.gate {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	align-items: center;	
}


#gate1 {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 7;
}

#gate2 {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 7;
}

.logo {
	position: fixed;
	top: -10%;
	left: 31%;
	height: 70vh;
	width: auto;
	z-index: 9;
}	

.options {
	position: fixed;
	top: 56%;
	left: 40%;
	height: 40vh;
	width: 20vw;
	z-index: 8;
}

h1 {
	position: fixed;
	top: 65%;
	left: 42.5%;
	font-family: "Press Start 2P";
	color: white;
	font-size: 1.75vw; 
	z-index: 10;
	visibility: visible;
}

.play {
	cursor: pointer;
	top: 85%;
	left: 46%;
	font-size: 2vw;
	transition: 0.5s ease; 
}

.play:hover {
	transform: scale(1.5);
}

@keyframes menuUp {
  from {}
  to {top: -100vh;}
}

@keyframes menuLeft {
  from {left: 0vw;}
  to {left: -100vw;}
}

@keyframes menuRight {
  from {left: 0vw;}
  to {left: 200vw;}
}

@keyframes fadeInTop {
  from {
  	top: -30vh;
  	opacity: : 0;
  }
  to {
  	top: 5vh;
  	opacity: 1
  }
}

.warPics {
	cursor: pointer;
	position: fixed;
	width: 17.5vw;
	z-index: 6;
	opacity: 0;
	filter: grayscale(100%);
	transition: 1s ease;
}

.warPics:hover {
	filter: none;
	transform: scale(1.1);
}

.skirmish {left: 10.5vw;}

.campaign {left: 40.5vw;}

.conquest {left: 70.5vw;}

.underlay {
	position: fixed;
	top: 0%;
	height: 100vh;
	width: 100vw;
	background-color: rgba(4,4,4,0.95);
	z-index: 4
}

.option {
	position: fixed;
	top: 75%;
	left: 40%;
	height: 10vh;
	width: 20vw;
	z-index: 7;
	opacity: 1;
}
-->