<!--
	* {
		padding: 0;
		margin: 0;
		text-decoration: none;
		scroll-behavior: smooth;
	}

    section {
    	scroll-snap-align: start;
        scroll-snap-stop: always;
    }

	body {
		background-color: #DFE0DF;
		display: grid;
		justify-content: center;
	}

	h1,h2,p{
        margin: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .wholePage {
    	animation: transitionIn ease 1s;
    	cursor: url("vanguardAssets/cursorV.png"), auto;
    	height: 100vh;
        width: 100%;
        max-width: 3000px;
        overflow: hidden;
    	overflow-y: scroll;
        scroll-snap-type: y mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .wholePage::-webkit-scrollbar {
        display: none;
    }


	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: rotateX(-10deg);
		}

		to {
			opacity: 1;
			transform: rotateX(0);
		}
	} 

	.landingPage {
		display: flex;
		justify-content: center;
		background-color: #FFEBCD;
		height: 100vh;
        max-height: 50rem;
		width: 100%;
        max-width: 1500px;
		
	}

	.logo {
		display: inline;
		position: relative;
		padding: 0.5rem;
		margin-left: 2rem;
		height: auto;
		width: 11rem;
		z-index: 1;
	}

	.logo:hover {
		cursor: url("vanguardAssets/cursorH.png"), pointer;
	}

	#link5 {
		background-color: rgba(0,0,0,0);
		color: #fa991c;
		border: 0.3125em solid #fa991c;
		border-radius: 10rem;
		padding: 0.5em 1.25em;
		margin-left: 1.25em; 
		margin-right: 1.875em;
		margin-top: -0.125em;
		transition: ease 0.5s;  
	}

	#link5:hover {
		background-color: #4b8077;
		color: #ffebcd;
		border: 0.3125em solid #4b8077;
		cursor: url("vanguardAssets/cursorH.png"), pointer;
	}


	.links {
		background-color: rgba(0,0,0,0);
		float: right;
		display: block;
		text-align: center;
		padding: 0.5rem;
		font-size: 1.1rem;
		font-family: "Archivo Narrow";
		color: #2f4858;
		transition: 0.3s;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	#link1:hover, #link2:hover, #link3:hover, #link4:hover {
		color: #fa991c;
		cursor: url("vanguardAssets/cursorH.png"), pointer;
	}

	#navbar {
		padding-top: 0.55rem; 
		max-width: 93.75em;
		height: 3rem;
		width: 100%;
		display: grid;
		grid-template-columns: 30% 70%; 
		background-color: rgba(0,0,0,0);
		position: fixed;
		justify-content: center;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.tronGrid{
        max-width: 1500px;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        align-items: center;  
        padding-left: 7rem;
        padding-right: 7rem;
        padding-top: 8rem;
        padding-bottom: 5rem; 
    }

    .centerContext {
    	display: flex;
    	flex-flow: column nowrap;
    	align-items: center;    
    }


    .homeImg {
    	width: 100%;
    	margin-left: 3rem;
    	animation: transitionIn ease-in 3s;
    }

    .homeTxt {
    	font-family: "Julius Sans One";
    	color: #4b8077;
    	font-size: 3.5rem;
    	margin-bottom: 2rem;
    	text-align: center;
    	transition: ease 1s;
    	animation: transitionIn ease-in 2s;
    	text-shadow:  0.15rem 0.15rem #fa991c;
    }

    .homeTxt:hover {
    	transform: scale(1.2);
    	color: #fa991c;
    	text-shadow:  0.15rem 0.15rem #4b8077;
    	cursor: url("vanguardAssets/cursorV.png"), pointer;
    }

    .subTxt {
    	font-family: "Source Sans Pro";
    	color: #4b8077;
    	font-size: 1.5rem;
    	margin-bottom: 1.5rem;
    	text-align: center; 
    	animation: transitionIn ease-in 3.5s;
    }

    .miniTxt {
    	font-family: "Source Sans Pro";
    	color: #4b8077;
    	font-size: 1rem;
    	font-weight: bold;
    	margin-top: 1.5rem;
    	text-align: center;
    	animation: transitionIn ease-in 3.5s; 
    }

    .getVanguard {
    	background-color: rgba(0,0,0,0);
		color: #fa991c;
		font-size: 1.5rem;
		font-family: "Archivo Narrow";
		transition: ease 0.5s;
		border: 0.3125em solid #fa991c;
		border-radius: 10rem;
		padding: 0.5em 1.25em;
		animation: transitionIn ease-in 4s;
    }

    .getVanguard:hover {
		background-color: #4b8077;
		color: #ffebcd;
		border: 0.3125em solid #4b8077;
		cursor: url("vanguardAssets/cursorH.png"), pointer;
	}

    .miniCheck {
    	width: 1rem;
    	height: auto;
    }

    .vpn {
    	margin-top: 2em; 
    	margin-right: -5rem; 
    	margin-bottom: 1rem;
    	text-align: right; 
    	font-size: 2.5rem;
    	font-family: "Julius Sans One";
    	color: #4b8077;
    }

    .vpnBenefits {
    	max-width: 1500px;
    	display: grid;
    	grid-template-columns: auto 30% 50% auto;
    	justify-content: center;
    	align-items: center;
    }

    .vpnGen1 {
    	display: grid;
    	grid-template-columns: 10% 90%;
    	justify-content: center;
    	align-items: center;
    	background-color: white;
        border-radius: 25px;
    	padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .vpnBody1 {
    	text-align: left; 
    	font-family: "Source Sans Pro";
    	color: #2f4858;
        line-height: 1.6em;
    }

    .sideText1 {
    	writing-mode:vertical-rl;
    	transform: rotate(180deg);
    	font-family: "Archivo Narrow";
    	color: #4b8077;
    }

    .vpnGen2 {
    	display: grid;
    	grid-template-columns: 90% 10%;
    	justify-content: center;
    	align-items: center;
    	background-color: white;
        border-radius: 25px;
    	padding: 1rem;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    }

    .sideText2 {
    	writing-mode:vertical-rl;
    	font-family: "Archivo Narrow";
    	color: #4b8077;
    }

    .vpnBody2 {
    	text-align: right; 
    	font-family: "Source Sans Pro";
    	color: #2f4858;
        line-height: 1.6em;
    }

    .internet {
    	margin-top: 2rem;
    	width: auto;
    	height: 37rem;
    }	

    .mainMP {
    	background-color: #FFEBCD;
    	height: 100vh;
        max-height: 50rem;
    	display: grid;
    	justify-content: center;
    }


    .mp {
    	padding-top: 7rem;
    	text-align: center; 
    	font-size: 2.5rem;
    	font-family: "Julius Sans One";
        font-weight: bold;
    	color: #fa991c;
    }

    .media {
    	max-width: 1500px;
    	margin-top: -20rem;
    	padding: 0;
    	display: grid;
    	grid-template-columns: auto 10% 10% 10% 10% 10% 10% 10% auto;
    	align-items: center;
    	justify-content: space-around;
    }

    .mediaSponsors {
    	margin: 0.4375em;
    	width: 100%;
    	border: solid 0.125em rgba(1,1,1,.08);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    	transition: ease 0.3s;
    	cursor: url("vanguardAssets/cursorH.png"), pointer;
        border-radius: 25px;
    }

    .mediaSponsors:hover {
    	transform: scale(1.25); 
    }

    .packages {
        display: grid;
        grid-template-columns: auto 30% 30% 30% auto;
        align-items: center;
    }    

    .pack {
        padding-top: 4rem;
        margin-left: 3rem; 
        text-align: left; 
        font-size: 2.5rem;
        font-family: "Julius Sans One";
        font-weight: bold;
        color: #4b8077;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 25px;
        transition: ease 0.5s;
        margin: 3em;
        align-self: center;
        justify-content: center;
    }

    #card1 {
        background-color: #D9E5C6;
        padding: 1em 1em;
    }

    #card2 {
        background-color: #E9E4A3;
        padding: 1.5em 1em;
    }

    #card3 {
        background-color: #FFDC82;
        padding: 2em 1em;
    }



    .card:hover {
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        transform: scale(1.5);
    }

    .plan {
        font-family: "Archivo Narrow";
        font-size: 1.5rem; 
        text-align: center;
        color: #4b8077;
    }

    .price {
        font-family: "Source Sans Pro";
        font-size: 3rem; 
        font-weight: bold;
        text-align: center;
        color: #2f4858;
    }

    .detes {
        font-family: "Source Sans Pro";
        font-size: 1rem; 
        text-align: center;
        color: #C35353;
        font-weight: bold;
    }

    .php {
        color: #2f4858;
    }

    .moneyBack {
        margin-top: 1em; 
        font-family: "Source Sans Pro";
        font-size: 1rem; 
        font-weight: bold;
        text-align: center;
        color: #4b8077;
    }

    .bestSeller {
        color: #2f4858;
        font-weight: bold;
    }

    .footer {
       background-image: linear-gradient(to right bottom, #4b8077, #45726b, #40655f, #3a5853, #344b47); 
       height: 15rem;
    }

    .slides {
        position: relative;
        overflow: hidden;
        min-height: 20rem;
        width: 100%;
    }

    .slide:nth-child(1){
        background-color: #92CE7F;
    }

    .slide:nth-child(2){
        background-color: #6DB583;
    }

    .slide:nth-child(3){
        background-color: #559B81;
    }

    .slide:nth-child(4){
        background-color: #4B8077;
    }

    .slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        position: absolute;
        animation: sliding 2s ease;
    }

    .slide.active {
        display: block;
    }

    @keyframes sliding {
        from {
            opacity: 0;
            transform: scale(1.1);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    
	.part1 {
		display: flex;
		
		ign-items: center;
	}
	    
	.slider{
	  width: 100%;
	  height: 100vh;
	  overflow: hidden;
	}

	.slides{
	  width: 500%;
	  height: 100vh;
	  display: flex;
	}

	.slides input{
	  display: none;
	}

	.slide{
	  width: 20%;
	  transition: 2s;
	}

	.slide img{
	  width: 100%;
	  height: 100vh;
	}

	/*css for manual slide navigation*/

	.navigation-manual{
	  position: absolute;
	  width: 100%;
	  margin-top: -40px;
	  display: flex;
	  justify-content: center;
	}

	.manual-btn{
	  border: 2px solid #40D3DC;
	  padding: 5px;
	  border-radius: 10px;
	  cursor: pointer;
	  transition: 1s;
	}

	.manual-btn:not(:last-child){
	  margin-right: 10px;
	}

	.manual-btn:hover{
	  background: #40D3DC;
	}

	#radio1:checked ~ .first{
	  margin-left: 0;
	}

	#radio2:checked ~ .first{
	  margin-left: -20%;
	}

	#radio3:checked ~ .first{
	  margin-left: -40%;
	}

	#radio4:checked ~ .first{
	  margin-left: -60%;
	}

--> 