@import "mediaQueryJaw.css";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
}

body { 
	background-image: linear-gradient(to right bottom, #2f4858, #2a3b47, #242e37, #1d2227, #161718);
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	z-index: -3;
}


@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

#slider {
	overflow: hidden;
	z-index: -2;
}

#slider figure img {
	width: 20%; 
	height: 95vh;
	float: left;
	z-index: -2;
	object-fit: cover;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slidy infinite; 
	z-index: -2;
}

.home {
	font-family: "Dosis";
	font-size: 2em;
	color: #fa991c;
	position: fixed;
	top: 5%;
	left: 3%;
	z-index: 100;
}

.nav-bar .nav-link {
	width: 4vw;
	padding: 0.75vh 0.55vw;
	border-radius: 50%;
	transition: 0.5s ease; 
}

.nav-bar .nav-link:hover {
	width: 4vw;
	background-color: rgba(255,255,255,0.25);
}

#homeLink {
	position: fixed;
	top: 35%;
	left: 3.5%;	
	z-index: 100;
}

#aboutUsLink {
	position: fixed;
	top: 55%;
	left: 3.5%;
	z-index: 100;
}

#menuLink {
	position: fixed;
	top: 45%;
	left: 3.5%;	
	z-index: 100;
}

#phoneLink {
	position: fixed;
	top: 65%;
	left: 3.5%;
	z-index: 100;
}

.sideTxt {
	position: relative;
	padding: 1vh 1vw;
	margin: -55vh 0 0 -0.5vh; 
	font-size: 3vw;
	font-family: "Dosis";
	color: #ffebcd;
	writing-mode:vertical-rl;
	font-weight: bold;
	transition: 0.5s ease; 
}		

.wholePage {
	animation: transitionIn 2s;
	background-color: rgba(255,255,255,0.1);
	text-align: center; 
	height: 100vh;
    width: 100%;
	overflow: hidden;
	overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: -3;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}

	to {
		opacity: 1;
		transform: rotateX(0);
	}
} 

.wholePage::-webkit-scrollbar {
    display: none;
}

section {
	scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    max-height: 100vh; 
}

.landingPage {
	position: relative;
	height: 42rem;
	width: 100%;
	display: grid;
	grid-template-columns: 15% 45% 30% 10%; 
}

.bStory {
	margin-top: 5vh;
	font-family: "Archivo Narrow";
	font-size: 1.5vw;
	text-align: left;
	color: #ffebcd;
}

.logo img {
	position: relative;
	width: 30vw;
	margin-top: 27.5vh;
	z-index: 1;
}

.ytVID {
	text-align: left;
}

.title {
	display: grid;
	grid-template-rows: 5% 10% 10% 40% 20% auto;
	align-items: center;
}

.title h1 {
	margin: 0;
	padding: 0;
	text-align: left; 
	font-family: "Dosis";
	font-weight: bold;
	/*font-size: 6rem;*/
	font-size: 4.5vw;
	color: white;
}

.title p {
	margin: 0;
	padding: 0;
	font-family: "Archivo Narrow";
	font-size: 2vw;
	/*font-size: 2.5rem;*/
	color: #fa991c;
	text-align: left; 
}




@keyframes captionAnimation {
	from {
		transform: translateX(200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes captionAnimationReverse {
	from {
		transform: translateX(-300px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fries {
	position: fixed;
	width: 7vw;
	left: 80vw;
	top: 0vh;
	z-index: -3;
}

.nachos {
	position: fixed;
	width: 7vw;
	left: 60vw;
	top: 0vh;
	z-index: -3;
}

.onionRings {
	position: fixed;
	width: 7vw;
	left: 70vw;
	top: 20vh;
	z-index: -3;
}

.hamburger {
	position: fixed;
	width: 7vw;
	left: 90vw;
	top: 40vh;
	z-index: -3;
}

.chicken {
	position: fixed;
	width: 7vw;
	left: 70vw;
	top: 60vh;
	z-index: -3;
}

.steak {
	position: fixed;
	width: 7vw;
	left: 50vw;
	top: 40vh;
	z-index: -3;
}

.cake {
	position: fixed;
	width: 7vw;
	left: 60vw;
	top: 80vh;
	z-index: -3;
}

.drinks {
	position: fixed;
	width: 7vw;
	left: 80vw;
	top: 80vh;
	z-index: -3;
}

#menu {
	display: grid;
	grid-template-columns: 15% 30% 50% auto; 
	align-items: center; 
}

.menuArea {
	text-align: left;
	z-index: 1; 
}

.menuArea h3 {
	font-family: "Dosis";
	font-size: 4vh;
	color: white;
	font-weight: bold;
}

.menuArea h4 {
	font-family: "Archivo Narrow";
	font-size: 3vh;
	color: #fa991c;
	font-weight: bold;
}

.menuArea p {
	font-family: "Source Sans Pro";
	font-size: 2.5vh;
	color: #ffebcd;
	margin: 0.24rem;
}

.menuArea a {
	font-family: "Dosis";
	font-size: 2.5vh;
	color: #d15a8a;
	margin: 0.24rem;
	text-align: right; 
	font-weight: bold;
}

.menuPics {
	display: grid;
	margin-left: -60vw; 
}

.mPics {
	height: 10vw;
	width: auto;
	border-radius: 25px;
	margin: 1vh;
	transition: ease 0.5s;
	box-shadow: 5px 5px rgba(4,4,4,0.25);
}

.mPics:hover {
	transform: scale(2);
}

#menuFries {
	position: relative;
	top: 25%;
	left: 15%;
}

#menuSteak {
	position: relative;
	top: 3%;
	left: 30%;
}

#menuJuice {
	position: relative;
	top: -15%;
	left: 15%;
}

#menuCheese {
	position: relative;
	top: -40%;
	left: 30%;
}

.contact {
	display: grid;
	grid-template-columns: 15% 30% 50% auto;
	align-items: center;
}

.contact h2 {
	margin-top: 20vh; 
	text-align: left;
	font-family: "Dosis";
	color: white;
	font-size: 3vw;
}

.info {
	display: flex;
	flex-direction: column;
}

.info h3 {
	margin-top: 5vh; 
	text-align: left;
	font-family: "Archivo Narrow";
	color: #fa991c;
	font-size: 2vw;
}

.info p {
	margin-top: 1vh; 
	text-align: left;
	font-family: "Source Sans Pro";
	color: #ffebcd;
	font-size: 1.5vw;
}

