<!--
	*{ 
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		text-decoration: none;
	}


	body {
		background-image: url("assets/blueBG.png");
		background-repeat: no-repeat; 
		background-position: relative;
		background-size: cover;
	}

	.introParallax {
		background-image: url("assets/patio.png");

		height: 654px;
		width: 100%;
		color: white;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: ease 1s;
	}

	.mainBody 
	{
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		font-family: "Lato";
		background-color: #242942;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
	}	

	.sender-column 
	{
		text-align: right;
	}

	.textBody
	{
		text-align: left;
	}

	h1 
	{
		font-size: 1.5em;
	}

	h2 
	{
		font-size: 1.3em;
	}

	p,ul,ol,dl,address 
	{
		font-size: 1.1em;
	}

	p, li, dd, dt, address 
	{
		line-height: 1.5;
	}

	.divider {
		text-align: center; 
		color: #242942;
	}

	.linkz {
		color: #C19868;
	}

	.navBarText {
		font-family: "Roboto";
		display: inline;
		color: white;
		font-weight: bold;
	}

	.navBarDiv {
		font-family: "Dosis";
		display: inline;
		color: white;
		font-weight: bold;
		font-size: 20px;
	}

	.tempNavBar {

		text-align: center; 
	}

	.navBarText:hover {

		color: #C19868;
		background-color: #375cbb;
		border-radius: 20%;
		padding: 10px; 
	}

	.mainTitle {
		color: white;
		font-size: 100px;
		font-family: "Dosis";
		font-weight: bold;
		background-image: url("assets/grayUnderlay.png");
	}
-->