<!--
	*{ 
	  margin: 0;
	  padding: 0;
	}
	
	body, html, main 
	{
	  /*background-image: url("kfcAssets/background.png");*/
	  scroll-behavior: smooth;
	  text-align: center;
	  height: 100%
	}

	#jumbotronDetes
	{
		background-image: url("assets/stickJumbotron1.png");
	}

	#bigTitle
	{
		font-family: "Architects Daughter";
		font-weight: bold;
		text-align: right;
		font-size: 90px;
		margin-top: 150px;
		padding-top: 70px;
		margin-right: -50px;
	}

	#subTitle
	{
		font-family: "Lato";
		font-weight: bold;
		text-align: right;
		margin-bottom: 60px;
		margin-right: -50px;
	}

	#Home
	{
		background-color: #009598;
		color: white;
		font-weight: bold;
		font-family: "Lato";
	}

	#Projects
	{
		color: #009598;
		font-weight: bold;
		font-family: "Lato";
	}

	#About
	{
		color: #009598;
		font-weight: bold;
		font-family: "Lato";
	}

	#ContactMe
	{
		color: #009598;
		font-weight: bold;
		font-family: "Lato";
	}

	#navBar1 a:hover
	{
	  	background-color: #f78104;
	  	color: black;
	  	font-family: "Architects Daughter";
	  	font-weight: bold;
	}

	.underlay
	{
		background-image:  url("assets/background1.png");
		/*background-color: #009598;*/
		position: relative;
		width:100%;
		padding-top: 5px;
		/*margin-bottom: 30px;*/
		margin-top: 10px;
		color: #1d1b1b;
	}

	#header
	{
		background-image:  url("assets/grayUnderlay.png");
		position: relative;
		width:100%;
	}

	.homeImg
	{
		height: 50px;
		width: 170px;
		margin-right: 30px;
	}

	.name
	{
		font-size: 20px;
		text-align: right;
		padding-top: 10px;
		color: #009598;
		font-weight: bold;
		font-family: "Lato";
	}

	.mepic
	{
		height: 30px;
		width: 30px;
		text-align: right;
		margin-right: 10px;
	}

	.projectFont
	{
		font-weight: bold;
		text-decoration: underline;
		font-family: "Chela One";
		color: #009598;
		font-size: 60px;
	}

	.hwUnderlay
	{
		color: white;
		font-family: "Lato";
		font-weight: bold;
		font-size: 20px;
		padding-top: 5px;
	}

	#footerDetes
	{
		background-color: #009598;
		height: 40px;
	}

	.footImg
	{
		height: 40px;
		width: 150px;
		margin-right: 30px;
	}
-->