<!--
	*{ 
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		text-decoration: none;
	}

	.navBarText {
		font-family: "Dosis";
		display: inline;
		color: #f6ab00;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	#description {
		font-size: 20px;
		font-family: "Dosis";
		color: #d46e3d;
	}

	.navBarDiv {
		font-family: "Dosis";
		display: inline;
		color: #f6ab00;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	.centerLogo  {
		text-align: center;
		width: 350px;
		height: auto; 
		margin-bottom: 50px;
	}

	.btnSignUp {
		text-align: center;
		margin-top: 30px;
		transition: transform .2s;
	}

	.btnSignUp:hover {
		transform: scale(1.5);
	}


	.tempNavBar {
		display: block;
		text-align: center;
	}

	.navBarText:hover {

		color: #c6361b;
		border-radius: 20%;
		padding: 10px; 
	}

	.slideshow-container {
		max-width: 100%
		max-height: 100%;
		position: relative;
		margin: auto;
		height: 100%;
	}

	.imgFood {
		width: 680px;
		height: 630px;
	}

	.dot {
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 1s ease;
		}

	.active {
		background-color: #717171;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@media only screen and (max-width: 300px) {
		.text {font-size: 11px}
	}

	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: center;
	}

	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	.modal {
		position: center;
	}

		/* Modal Content */
	.modal-header { 
		background-color: white;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 50%;
		max-width: 680px;
	}

	.modal-body {
		background-color: white;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 50%;
		max-width: 680px;
		height: 390px;
		overflow-y: auto;	
	}

		/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		}

	.close:hover, .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	#title {
		font-family: "Dosis";
		font-weight: bold;
		font-size: 15px;
		color: #333333;
		text-align: center; 
	}

	.modalText {
		font-family: "Roboto";
		font-size: 15px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 200px;
	}

	#name-label, #email-label, #number-label, #sex-label {
		font-family: "Dosis";
		font-size: 16px;
		font-weight: bold;
		color: #333333;
		padding-top: 100px;
	}

	.center-content {
		text-align: center; 
	}

	.grid-containerModal {
		display: grid;
		grid-template-columns: 10% 40% 10% 40%;
		grid-template-rows: 50% 50%;
		justify-content: center;
	}

	.labelz {
		padding-top: 8px;
		text-align: left; 
	}

	#dropdown {
		width: 213px;
		height: 28px;
		color: blackss;
		padding-left: 8px;
	}

	.grid-containerRadio {
		display: grid;
		grid-template-columns: 30% 5% 30% 5% 30%;
		grid-template-rows: 50% 50%;
		justify-content: center;
	}

	.normalText {
		font-family: "Dosis";
		font-weight: bold;
		font-size: 16px;
		color: #333333;
	}

	.normalList {
		font-family: "Roboto";
		font-size: 16px;
		color: #333333;
		margin-top: 10px;
		text-align: left; 
	}

	.grid-containerCheck {
		display: grid;
		grid-template-columns: 30% 5% 30% 5% 30%;
		grid-template-rows: 33.33% 33.33% 33.33;
		justify-content: center;
	}

	.idealB {
		padding: 10px;
		font-family: "Roboto";
		font-size: 13px;
		color: #333333;
		text-align: left; 
	}

	#dreamB {
		text-align: left; 
	}

	input[type=number] {
	  -moz-appearance: textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

-->