<!--
	*{ 
	  margin: 0;
	  padding: 0;
	}

	body, html, main 
	{
	  /*background-image: url("kfcAssets/background.png");*/
	  scroll-behavior: smooth;
	  text-align: center;
	  height: 100%
	  color: white;
	}

	#jumbotronDetes
	{
		background-image: url("assets/Failure.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	#bigTitle
	{
		font-family: "Architects Daughter";
		font-weight: bold;
		text-align: left;
		font-size: 90px;
		margin-left: 100px;
	}

	#subTitle
	{
		font-family: "Lato";
		font-weight: bold;
		text-align: left;
	}

	#home
	{
		color: #f78104;
		font-weight: bold;
		font-family: "Lato";
	}

	#projects
	{
		background-color: #f78104;
		color: white;
		font-weight: bold;
		font-family: "Lato";
	}

	#centerContent
	{
		text-align: center;
	}

	#quote
	{
		font-family: "Lato";
		font-size: 20px;
		font-weight: bold;
		text-align: justify;
		color: #1d1b1b;
		padding: 15px;
		border: solid;
		border-width: 5px;
		border-color: #f78104;	
	}

	#original
	{
		font-family: "Lato";
		font-size: 18px;
		font-weight: bold;
		text-align: justify;
		color: white;
	}

	#author
	{
		font-family: "Lato";
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		color: #f3ab1b;
	}

	a:link
	{
		text-decoration: none;
	}

	#underlay
	{
		background-image: url("assets/blackCloth.png");
		padding: 20px;
	}

	#footerDetes
	{
		background-color: #f3ab1b;
		height: 40px;
	}

	.footImg
	{
		height: 40px;
		width: 150px;
		margin-right: 30px;
	}

	.flex-container {
	  display: flex;
	  text-align: center;
	}

	.flex-container > div 
	{
	  margin: 10px;
	  padding: 20px;
	  font-size: 30px;
	  width:100%;
	}

	.flex-container > .divider
	{
		width:5%;
	    margin:0;
	    padding:0;
	    visibility: hidden;
	}

	.flex-container > .smallDiv
	{
		width:25%;
	    margin:0;
	    padding:0;
	}

	.flex-container > .bigDiv
	{
		width:60%;
	    margin:0;
	    padding:0;
	}
-->