* {
	margin: 0;
	padding: 0; 
}

body {
	overflow-x: hidden;
	background-color: #232b2b;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ytVid {
	margin-top: -15vh; 
	height: 116vh;
	width: 105vw;
	z-index: 0;
	object-fit: cover;
}

.vidOverlay {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s ease;
}

#test {
	background-image: url('');
	opacity: 1;
}

.vidUnderlay {
	position: absolute;
	left: 0%;
	top: 85%;
	height: 50vh;
	width: 100vw;
	background-color: #232b2b;
	z-index: 4; 
}

.darkTop {
	position: absolute;
	background-image: url('reelAsset/darkTop.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 15vh;
	top: 0%;
	left: 0%;
	z-index: 6;
}

.darkMid{
	position: absolute;
	background-image: url('reelAsset/darkMid.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 30vh;
	top:69%;
	left: 0%;
	z-index: 6;
}