* {
	margin: 0;
	padding: 0; 
}

body {
	overflow-x: hidden;
	background-color: #232b2b;
}

#reelLayer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	transition: 2s ease;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.ytVid {
	margin-top: -15vh; 
	height: 116vh;
	width: 105vw;
	z-index: 0;
	object-fit: cover;
}

.vidOverlay {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s ease;
}

#overlay {
	background-image: url('');
	opacity: 1;
}

.vidUnderlay {
	position: absolute;
	left: 0%;
	top: 85%;
	height: 30vh;
	width: 100vw;
	background-color: #232b2b;
	z-index: 4; 
}

.darkTop {
	position: fixed;
	background-image: url('reelAsset/darkTop.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 15vh;
	top: 0%;
	left: 0%;
	z-index: 6;
}

.darkMid{
	position: absolute;
	background-image: url('reelAsset/darkMid.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 30vh;
	top:69%;
	left: 0%;
	z-index: 6;
}

.cookieBackground {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	z-index: 9;
	transition: 0.3s ease;
}

.cookieModal {
	position: fixed;
	top: 25%;
	left: 35%;
	width: 30%;
	height: 50%;
	background-color: rgba(4,4,4,0.75);
	border-radius: 2vh;
	z-index: 10;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.cookieModal h1 {
	color: white;
	font-family: 'Dosis';
	padding: 3vh;
}

.cookieModal p {
	color: white;
	font-family: 'Roboto';
	font-size: 2.5vh;
	line-height: 4vh;
}

.cookieBtn {
	cursor: pointer;
	margin-top: 3vh;
	color: #fa991c;
	font-family: 'Dosis';
	font-size: 4vh;
	padding: 1vh;
	border: solid 0.5vh #fa991c;
	border-radius: 2vh;
	width: 20vw;
	transition: 1s ease;
}

.cookieBtn:hover {
	color: white;
	background-color: #fa991c;
}

#cookieBG{ 
	display: block; 
	background-color: rgba(4,4,4,1);
}

#cookieM{ display: flex; }

.trailerTray {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0%;
	height: 95vh; 
	width: 23vw;
	z-index: 7;
	transition: 0.5s ease;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

.trailerTray::-webkit-scrollbar {
	display: none;
}

#trailerArea {
	left: 91vw;
	filter: grayscale(100%);
}

#trailerArea:hover {
	left: 80vw; 
	filter: none;
}

.trailerPoster {
	cursor: pointer;
	width: 50%;
	height: auto;
	margin-top: 3vh;
	transition: ease 1s;
}

.trailerPoster:hover {
	transform: scale(1.1);
}

.movieDetes {
	position: absolute;
	font-family: 'Dosis';
	font-weight: bold;
	z-index: 6;
	transition: 1s ease;
}

#movieTitle {
	top: 85%;
	left: 5%;
	color: #fa991c;
	font-size: 6vh;
}

#movieYear {
	top: 93%;
	left: 5%;
	color: white;
	font-size: 4vh;
}

#movieRuntime {
	top: 93%;
	left: 10%;
	color: white;
	font-size: 4vh;
}

#movieActors {
	top: 93%;
	left: 17%;
	color: white;
	font-size: 4vh;
}

#moviePlot {
	top: 101%;
	left: 5%;
	color: white;
	font-size: 3vh;
	width: 60vw;
	height: 20vh;
	font-family: 'Roboto';
}



main {
	margin-top: 30vh; 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    cursor: pointer;
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.4px 6px 7px rgba(4,4,4,0.5);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info{
    color:#fa991c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-family: 'Dosis'; 
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: #2ecc71;
}

.movie-info span.orange{
    color: #f1c40f;
}

.movie-info span.red{
    color: #e74c3c;
}

.movie-info span.white{
    color: #eee;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    font-family: 'Roboto';
    font-size: 2.2vh; 
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
	position: relative;
	top: 25vh;
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    font-family: 'Dosis';
    padding:10px 20px;
    background-color: #fa991c;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
    z-index: 7;
    transition: 0.3s ease;
}

.tag.highlight{
    background-color: #e74c3c;
}
.no-results{
    color:white;
}

.search{
	position: relative;
	top: 20vh;
	left: 10vh;
	width: 30vw;
	height: 3vh;
    background-color: white;
    border: 2px solid var(--primary-color);
    padding: 1vw;
    border-radius: 2vh;
    font-size: 2vh;
    color: black;
    font-family: 'Roboto';
    z-index: 7;
}

.search::placeholder{
    color: #7378c5;
}

#trailerBG{ 
	display: none;
	opacity: 0;
	background-color: rgba(4,4,4,0.75);
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	z-index: 9;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease;
	overflow-y: scroll;
}

.ytTrailers {
	position: relative;
	width: 50vw;
	height: 50vh;
}

.trailer {
	margin: 5vh;
	width: 100%;
	height: 100%;
}